# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tyler Baur 
	email = tbaur@teuteberg.com
	
[core]
	autocrlf = true
	filemode = false
[credential]
	helper = /c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
