# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tyler Baur
	email = baur.tyler@gmail.com

[include]
	path = ~/.gitconfig-local


[alias]
	i = init
	s = status
	p = push
	a = add
	c = commit -am
	b = branch

	ra = remote add
	po = push origin
	co = checkout

	pom = push origin master

[url "https://github.com/"]
	insteadOf = gh:

[core]
	autocrlf = input
	filemode = false
	editor = nano

[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg2
[init]
	defaultBranch = main
